<!-- Validation failure messages -->
<% if @list.errors.any? %>
  <% @list.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Place</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_kitchen" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @list.image %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @list.user_id %>">
      </div>

      <!-- Label and input for list_name -->
      <div class="form-group">
        <label for="kitchen_name" class="control-label">
          Place
        </label>

        <input type="text" id="list_name" name="list_name" placeholder="List name" class="form-control" value="<%= @list.list_name %>">
      </div>

      <button class="btn btn-success">
        Create Place
      </button>
      or
      <a href="/kitchen">Cancel</a>
    </form>
  </div>
</div>
