<div class="page-header">
  <h3>Place #<%= @list.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <dd><%= @list.image %></dd>

      <dt>User</dt>
      <dd><%= @list.user_id %></dd>

      <dt>Place name</dt>
      <dd><%= @list.list_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/kitchen" class="btn btn-primary">
        Back
      </a>
      <a href="/kitchen/<%= @list.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_kitchen/<%= @list.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
